<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezone.link.post.join.dao.JoinDAO">
	<insert id="participateIn" parameterType="map">
		INSERT INTO `post_join`
			(
				`postId`
				,`userId`
				,`userNickname`
				,`statement`
				,`createdAt`
				,`updatedAt`
			)
		VALUE
			(
				#{postId}
				,#{userId}
				,#{userNickname}
				,"승인 대기"
				,now()
				,now()
			)
	
	</insert>
	<delete id="deleteParticipate">
		DELETE FROM
				`post_join`
		WHERE
				`userId` = #{userId}
				AND `postId` = #{postId}
	</delete>
	<select id="checkApply" parameterType="map" resultType="int">
		SELECT
				count(*)
		FROM
				`post_join`
		WHERE
				`postId` = #{postId}
				AND `userId` = #{userId}
	</select>
	<select id="getApplierList" parameterType="int" resultType="com.ezone.link.post.join.model.Join">
		SELECT
				`postId`
				,`userId`
				,`userNickname`
				,`statement`
		FROM
				`post_join`
		WHERE
				`postId` = #{postId}
	</select>
	<update id="approve" parameterType="map">
		UPDATE
				`post_join`
		SET
				`statement` = "승인 완료"
		WHERE
				`userId` = #{userId}
				AND `postId` = #{postId}
	</update>
	<update id="updateUserNickname" parameterType="map">
		UPDATE
				`post_join`
		SET
				`userNickname` = #{userNickname}
		WHERE
				`userId` = #{userId}
	</update>
	<select id="joinList" parameterType="int" resultType="com.ezone.link.post.join.model.Join">
		SELECT
				`postId`
				,`userId`
				,`userNickname`
				,`statement`
		FROM
				`post_join`
		WHERE
				`userId` = #{userId}
	</select>
	
</mapper>