<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezone.link.post.dao.PostDAO">
	<insert id="addPost" parameterType="com.ezone.link.post.model.Post">
		INSERT `post`
			(
				`userId`
				,`userNickname`
				,`title`
				,`content`
				,`meetingDate`
				,`headcount`
				,`postCategory`
				,`createdAt`
				,`updatedAt`
			)
		VALUE
			(
				#{userId}
				,#{userNickname}
				,#{title}
				,#{content}
				,#{meetingDate}
				,#{headcount}
				,#{postCategory}
				,now()
				,now()
			)
	</insert>
	<select id="getPostList" resultType="com.ezone.link.post.model.Post">
		SELECT
				`id`
				,`userId`
				,`userNickname`
				,`title`
				,`content`
				,`meetingDate`
				,`headcount`
				,`postCategory`
				,`createdAt`
				,`updatedAt`
		FROM
				`post`
		ORDER BY 
				`createdAt` DESC
	</select>
	<select id="getPostDetail" parameterType="int" resultType="com.ezone.link.post.model.Post">
		SELECT
				`id`
				,`userId`
				,`userNickname`
				,`title`
				,`content`
				,`meetingDate`
				,`headcount`
				,`postCategory`
				,`createdAt`
				,`updatedAt`
		FROM
				`post`
		WHERE
				`id` = #{id}		
	</select>
	<update id="postUpdate" parameterType="map">
		UPDATE
				`post`
		SET
				`title` = #{title}
				,`content` = #{content}
				,`meetingDate` = #{meetingDate}
				,`headcount` = #{headcount}
		WHERE
				`id` = #{postId}
	</update>
	<delete id="postDelete" parameterType="int">
		DELETE FROM
				`post`
		WHERE
				`id` = #{postId}
	</delete>
	<select id="getUserId" parameterType="int" resultType="int">
		SELECT
				`userId`
		FROM
				`post`
		WHERE
				`id` = #{postId}	
	</select>
	<update id="updateUserNickname" parameterType="map">
		UPDATE
				`post`
		SET
				`userNickname` = #{userNickname}
		WHERE
				`userId` = #{userId}
	</update>
	<select id="userJoinedPostList" parameterType="int" resultType="com.ezone.link.post.model.Post">
		SELECT
				`id`
				,`userId`
				,`userNickname`
				,`title`
				,`content`
				,`meetingDate`
				,`headcount`
				,`postCategory`
				,`createdAt`
				,`updatedAt`
		FROM
				`post`
		WHERE
				`id` = #{postId}
	</select>

</mapper>