<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezone.link.user.profile.dao.ProfileDAO">
	<insert id="addUserProfile" parameterType="map">
		INSERT INTO `profile`
			(
				`userId`
				,`userNickname`
				,`createdAt`
				,`updatedAt`
			)
			
		VALUE
			(
				#{userId}
				,#{userNickname}
				,now()
				,now()
			)
	</insert>
	<select id="getUserProfile" parameterType="int" resultType="com.ezone.link.user.profile.model.Profile">
		SELECT
				`userNickname`
				,`introduce`
				,`profileImagePath`
		FROM
				`profile`
		WHERE
				`userId` = #{userId}
	</select>
	<update id="updateUserProfile" parameterType="map">
		UPDATE
				`profile`
		SET
				`userNickname` = #{userNickname}
				,`introduce` = #{introduce}
				,`profileImagePath` = #{profileImagePath}
				,`updatedAt` = now()
		WHERE
				`userId` = #{userId}
	</update>

</mapper>