<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezone.link.user.profile.dao.ProfileDAO">
	<insert id="addUserProfile" parameterType="map">
		INSERT INTO `profile`
			(
				`userId`
				,`nickname`
				,`createdAt`
				,`updatedAt`
			)
			
		VALUE
			(
				#{userId}
				,#{nickname}
				,now()
				,now()
			)
	</insert>
	
	<select id="nicknameIsDuplicate" parameterType="String" resultType="int">
		SELECT
				count(*)
		FROM
				`profile`
		WHERE
				`nickname` = #{nickname}
	</select>
	
	<select id="getNickname" parameterType="int" resultType="String">
		SELECT
				`nickname`
		FROM
				`profile`
		WHERE
				`userId` = #{userId}
	
	</select>
	<select id="getProfileId" parameterType="int" resultType="int">
	
	</select>
	<select id="getUserProfile" parameterType="int" resultType="com.ezone.link.user.profile.model.Profile">
		SELECT
				`userId`
				,`nickname`
				,`introduce`
				,`profileImagePath`
		FROM
				`profile`
		WHERE
				`userId` = #{userId}
	</select>
	
	<update id="updateUserProfile" parameterType="map">
		UPDATE
				`profile`
		SET
				`nickname` = #{nickname}
				,`introduce` = #{introduce}
				,`profileImagePath` = #{profileImagePath}
				,`updatedAt` = now()
		WHERE
				`userId` = #{userId}
	</update>
	<select id="getUserList" parameterType="int" resultType="com.ezone.link.user.profile.model.Profile">
		SELECT
				`id`
				,`userId`
				,`nickname`
				,`introduce`
				,`profileImagePath`
		FROM
				`profile`
		WHERE
				`userId` not in (#{userId})
	</select>
	<select id="getProfile" parameterType="int" resultType="com.ezone.link.user.profile.model.Profile">
		SELECT
				`id`
				,`userId`
				,`nickname`
				,`introduce`
				,`profileImagePath`
		FROM
				`profile`
		WHERE
				`id` = #{id}
	</select>

</mapper>