<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezone.link.user.userInterest.dao.UserInterestDAO">
	<insert id="addUserInterest" parameterType="map">
		INSERT INTO `user_interest`
			(
				`userId`
				,`userInterest`
				,`createdAt`
			)
		VALUE
		<foreach collection="userInterest" item="userInterest" separator=",">
			(
					#{userId}
					,#{userInterest}
					,now()	
			)
		</foreach>
	</insert>
	<select id="getUserInterest" parameterType="int" resultType="String">
		SELECT
				`userInterest`
		FROM
				`user_interest`
		WHERE
				`userId` = #{userId}
	</select>

</mapper>