<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezone.link.user.dao.UserDAO">
	<insert id="addUser" parameterType="com.ezone.link.user.model.User">
		INSERT INTO `user`
			(
				`loginEmail`
				,`password`
				,`nickname`
				,`birthYear`
				,`birthMonth`
				,`birthDay`
				,`gender`
				,`createdAt`
				,`updatedAt`
			)
		VALUE
			(
				#{loginEmail}
				,#{password}
				,#{nickname}
				,#{birthYear}
				,#{birthMonth}
				,#{birthDay}
				,#{gender}
				,now()
				,now()
			)
	</insert>
	<select id="loginEmailIsDuplicate" parameterType="String" resultType="int">
		SELECT
				count(*)
		FROM
				`user`
		WHERE
				`loginEmail` = #{loginEmail}
	</select>
	
	<select id="nicknameIsDuplicate" parameterType="String" resultType="int">
		SELECT
				count(*)
		FROM
				`user`
		WHERE
				`nickname` = #{nickname}
	</select>

</mapper>