@charset "UTF-8";

header {
	font-family: 'Oswald', sans-serif;
	height:60px;
	background-color: #fdfdff;
	color: #000000;
}

footer {
	height:30px;
	background-color: #fdfdff;
	color: #000000;
}

.wrap {
    width: 1000px;
    margin: auto;
}

.container {
	display: flex;
	justify-content: space-around;
}

.signIn-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 1000px;
	height: 600px;
	background-color: rgb(253, 253, 255);
}

.signUp-container {
	display: flex;
	justify-content: space-around;
	width: 1000px;
	background-color: rgb(253, 253, 255);
}

.logoImg{
	width: 80%;
    height: 80%;
}

.thelinklogoImg{
	width: 30%;
    height: 30%;
}

.sign-in {
	width: 400px;
}

.sign-up {
	width: 800px;
}

#loginEmailDuplication {
	display:none;
}
#loginEmailNotDuplication {
	display:none;
}
#nicknameDuplication {
	display:none;
}
#nicknameNotDuplication {
	display:none;
}
.profileBox {
	width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
}
.profileImg {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.postImg {
    object-fit: cover;
}
  

.sm {
	color: rgb(192, 192, 192);
}
.postShow {
	display: none;
}
.userShow {
	display: none;
}
